<%- include('../partials/header') %>

<h1 class="h1-font"><%= title %></h1>

<form method="POST" action="/comments/<%= comment._id %>?_method=PUT">
        <div>
            Revised Comment: <textarea class="form-control" name="content"><%= comment.content %></textarea>
        </div>
        &nbsp;
        <div class="center">
            <button class="btn btn-secondary" type="submit">Update Comment</button>  
        </div>
</form>

<%- include('../partials/footer') %>