<%- include('../partials/header') %>

<h1><%= title %></h1>

<form method="POST" action="/comments/<%= comment._id %>?_method=PUT">
    <div>
        <textarea name="content"><%= comment.content %></textarea>
        <button class="btn btn-secondary" type="submit">Update Comment</button>  
    </div>
</form>

<%- include('../partials/footer') %>