<%- include('../partials/header') %>

<form action="/songs/<%= song._id %>?_method=PUT" method="POST">
    <div>
        Song Title: <input type="text" name="title" value="<%= song.title %>">
    </div>
    <div>
        Artist: <input type="text" name="artist" value="<%= song.artist %>">
    </div>
    <textarea type="text" name="caption" ><%= song.caption %></textarea>
    <button type="submit">Update Post</button>
</form>

<%- include('../partials/footer') %>