<%- include('../partials/header') %>

<% if (songs.length) { %>
    <% songs.forEach((song) => { %>
        <div>
            "<a href="/songs/<%= song._id %>"><%= song.title %></a>"  
        </div>
        <div>
            By <%= song.artist %>
        </div>
        <div>
            <%= song.caption %>
        </div>
    &nbsp;
   <% }); %>
<% } else { %>
    <h2>No Posts Yet...</h2>
    <a href="/songs/new">Get Started on a Post Here!</a>
<% } %>