<%- include('../partials/header') %>

<% if (songs.length) { %>
    <% songs.forEach((song) => { %>
        <!-- <div>
            display user's name and avatar
        </div> -->
        <div>
            <em><a href="/songs/<%= song._id %>"><%= song.title %></a></em>
        </div>
        <div>
            By <%= song.artist %>
        </div>
        &nbsp;
        <div>
            <%= song.caption %>
        </div>
   <% }); %>
<% } else { %>
    <h2>No Posts Yet...</h2>
    <a href="/songs/new">Get Started on a Post Here!</a>
<% } %>