<%- include('../partials/header') %>

<h1 class="h1-font"><%= title %></h1>
&nbsp;
<div class="row">
<% if (songs.length) { %>
    <% songs.forEach((song) => { %>
    <div id="border" class="center col-4 container-fluid">
        &nbsp;
        <div id="profile">
            <img class="profilepicture" alt="avatar" referrerpolicy="no-referrer" src="<%= song.userAvatar %>" > 
            <p><%= song.userName %></p>
        </div>
        &nbsp;
        <div>
            <em><a class="song-link" href="/songs/<%= song._id %>"><%= song.title %></a></em>
        </div>
        <div>
            By <%= song.artist %>
        </div>
        &nbsp;
        <div>
            <%= song.caption %>
        </div>
    </div>
   <% }); %>
<% } else { %>
    <h2>No Posts Yet...</h2>
    <a href="/songs/new">Get Started on a Post Here!</a>
<% } %>
</div>

<%- include('../partials/footer') %>