<%- include('../partials/header') %>

<h1><%= title %></h1>

<% if (songs.length) { %>
    <% songs.forEach((song) => { %>
    <div class="row">
        <div>
            <img class="profilepicture" alt="avatar" referrerpolicy="no-referrer" src="<%= song.userAvatar %>" > 
            <%= song.userName %>
        </div>
        <div>
            <em><a href="/songs/<%= song._id %>"><%= song.title %></a></em>
        </div>
        <div>
            By <%= song.artist %>
        </div>
        &nbsp;
        <div>
            <%= song.caption %>
        </div>
    </div>
   <% }); %>
<% } else { %>
    <h2>No Posts Yet...</h2>
    <a href="/songs/new">Get Started on a Post Here!</a>
<% } %>

<%- include('../partials/footer') %>