<%- include('../partials/header') %>

<h1><%= title %></h1>

<section id="border">
    <div id="profile">
        <img class="profilepicture" alt="avatar" referrerpolicy="no-referrer" src="<%= song.userAvatar %>" > 
        <%= song.userName %>
    </div>
    <div>
        Song Title: <em><%= song.title %></em>
    </div>
    <div>
        Artist(s): <%= song.artist %>
    </div>
    &nbsp;
    <div>
        <%= song.caption %>
    </div>
    <br>
    <% if (user?._id.equals(song.user)) { %>
    <a class="link" href="/songs/<%= song._id %>/edit">Edit Song Post</a>  
    <% } %>
</section>
&nbsp;
<section>
<h3>Comments</h3>
</section>
<% if (user) { %>
    <form class="commentform" method="POST" action="/songs/<%= song._id %>/comments">
        <textarea class="form-control" name="content">Let 'Em Know How You Feel</textarea>
        <br>
        <button class="btn btn-secondary" type="submit">Comment</button> 
    </form>
    &nbsp;
<% } else { %>
    <p>Sign In to Comment</p>
<% } %>
    <% if (song.comments.length) { %>
        <% song.comments.forEach((commentInfo) => { %>
            <section id="border">
            <div class="row"> 
                <div class="col-6">
                    <p>
                        <img class="profilepicture" alt="avatar" referrerpolicy="no-referrer" src="<%= commentInfo.userAvatar %>"> 
                        <%= commentInfo.userName %>
                    </p>
                </div>
                <div class="col-6 col2">
                    <p>Created <%= commentInfo.createdAt.toLocaleDateString() %></p>
                </div>
                <div class="col">
                    <p><%= commentInfo.content %></p>
                </div>
                <p>
                    <% if (user?._id.equals(commentInfo.user)) { %>
                        <a class="link" href="/comments/<%= commentInfo._id %>/edit">Edit Comment</a>
                        <form action="/comments/<%= commentInfo._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    <% } %>
                </p>
            </div>
            </section>
        <% }) %>
    <% } else { %>
        <p>Be the First to Comment on this Post</p>
    <% } %>

<%- include('../partials/footer') %>